body {
    background-image: url('../assets/images/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101014;
    overflow: hidden;
}

@font-face {
    font-family: lateef;
    src: url('../assets/fonts/Lateef-Regular.ttf');
}

@font-face {
    font-family: Dubai;
    src: url('../assets/fonts/Dubai-Regular.otf');
}


.navigation {
    width: 100%;
    height: 56px;
    background: #1E1E1E;
    box-shadow: inset 0px -1px 0px rgba(76, 78, 98, 0.5), inset 0px 1px 0px rgba(76, 78, 98, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lang__toggle {
    span {

        width: 42px;
        height: 42px;
        background-color: #323341;
        color: #ffff;
        Font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: lateef;
        line-height: 24px;
        border: 1px solid #4C4E62;
        box-sizing: border-box;
        border-radius: 10px;
        padding-bottom: 8px;
    }
}

.loading {
    img {
        width: 378px;
    }
}


footer {
    position: absolute;

    bottom: 0;
    width: 100%;
    height: 100px;


    img {
        width: 100%;
    }
}


/*global classes */
.minHeight-500 {
    min-height: 500px;
}

.hide {
    display: none !important;
}

.min-width-100 {
    min-width: 100px;
}

.my-20 {
    margin-top: 20px;
}

@media(max-width:700px) {
    .loading {
        img {
            width: 225px;
        }
    }

}

//  home page content style 
.header {
    h1 {
        font-family: Dubai;
        font-style: normal;
        font-weight: bold;
        line-height: 41px;
        color: #FFFFFF;
    }

    h4 {
        color: #A4A4C0
    }

    .purple {
        color: #CB00FF
    }

    .orange {
        color: #FF8800
    }

    .header__bottom {
        margin-top: 16px;

        .indicators {
            margin-top: 20px;

            .bullet {
                width: 6px;
                height: 6px;
                background: #A4A4C0;
                margin: 0 5px;
                border-radius: 999px;
                transition: .3s ease-in-out all;
            }

            .active {
                width: 18px;
                height: 6px;
                background: #CB00FF;
                border-radius: 100px;
                transition: .3s ease-in-out all;
            }
        }

        .header__left,
        .header__right {
            width: 42px;
            height: 42px;
            background-color: #323341;
            color: #ffff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: lateef;
            border: 1px solid #4C4E62;
            box-sizing: border-box;
            border-radius: 10px;
        }

    }

    .stopCar {
        transform: translateX(10000px);

    }

    // .showCar {
    //     transform: translateX(0px);


    // }

    .animateCar {
        transition: .5s ease-in-out all;
    }

}



@media(max-width:600px) {
    .header {
        h1 {
            font-size: 24px;

        }

        h4 {
            font-size: 12px;
        }
    }
}

// end home page content style 


// start Registeration page 
.po-30 {
    position: absolute;
    bottom: 5%;
}

.page {
    z-index: 999;
}

.signIn {
    width: 374px;
    margin-top: 40px;
    height: 620px;
    background: linear-gradient(161.02deg, rgba(46, 46, 60, 0.4) 5.04%, rgba(46, 46, 60, 0.1) 94.8%);
    border: 1px solid #4C4E62;
    box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(18px);
    padding-top: 20px;
    border-radius: 30px;

    .logo {
        margin-bottom: 20px;

        img {
            width: 198px;
            height: 135px
        }
    }

    h3 {
        color: white;
        font-family: Dubai;
        margin-top: 10px;
    }

    h4 {
        color: #A4A4C0;
        font-family: Dubai;
        font-style: normal;
        font-weight: normal;

    }

    input {
        background: #323341;
        border: 1px solid #4C4E62;
        box-sizing: border-box;
        border-radius: 14px;
    }

    input:focus {
        background: #323341;
    }

    label {
        color: #A4A4C0 !important
    }

    .submit {
        width: 100%;
        height: calc(3.5rem + 2px);
        border-radius: 14px;
        font-family: Dubai;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #009FD1;
        border: none;
    }

    .forgotPassword {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #CB00FF;
        background: none;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .forgotPassword:hover,
    .toggleSignUpPage:hover {
        color: #d454f5
    }

    .submit:hover {
        background-color: #29b2dd;
    }

    .signInWith {
        img {
            height: 49px
        }
    }

    .toggleSignUpPage {
        background: none;
        border: none;
        color: #CB00FF;

    }

    span {
        color: #A4A4C0 !important
    }
}


@media(max-width:600px) {
    .signIn {
        h4 {
            font-size: 14px;

        }
    }


}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


// end Registeration page 